
:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a4a;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-light-gray: #aaa;
    --star-yellow: #FFBB3A;
    ;
}

.dsmovie-form-container{
    background-color: var(--white);
    max-width: 480px;
    height: 650px;
    margin: 40px auto ;
    padding: 20px;
    border-radius: 8px 8px 8px 8px;
}

.dsmovie-form-container img {
    display: flex;
    justify-self: center;
    margin: calc(-20px) auto calc(-20px) calc(-20px);
    max-width: 480px;
    border-radius: 8px 8px 0 0;
}

.dsmovie-form {
    width: 470px;
}

.dsmovie-form-group{
    margin-bottom: 20px;
}

.dsmovie-form-group label{
    margin: 10px 10px 0 10px;
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovie-form-group input, select{
    margin: 0px 10px 0 10px;
    max-width: 450px;
}

.dsmovie-form-btn-container{
    display: flex;
    justify-content: center;
}

.dsmovie-card-bottom-container h3 {
    font-size: medium;
    font-weight: 700;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.dsmovie-form-btn-container button {
    width: 200px;
}

.dsmovie-btn {
    margin: 10px 78px;
    background-color: var(--color-primary);
    width: 200px;
}

.dsmovie-card-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    width: 295px;
    height: 380px;
    border-radius: 8px 8px 8px 8px;
}

.dsmovie-card-bottom-container h3{
    margin: 10px;
}

.dsmovie-card-bottom-container-avaliation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 8px 8px 8px 8px;
}

.dsmovie-card-bottom-container-avaliation h3{
    margin: 25px;
}

.dsmovie-movie-card-image{
    width: 295px;
    border-radius: 8px 8px 0 0;
}

.dsmovie-score-container{
    margin: 20px 0 0 0;
}






















