
:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a4a;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-light-gray: #aaa;
    --star-yellow: #FFBB3A;
    ;
}

.dsmovie-form-container{
    background-color: var(--white);
    max-width: 500px;
    height: 650px;
    margin: 40px auto ;
    padding: 20px;
    border-radius: 8px 8px 8px 8px;
}

.dsmovie-form-container img {
    margin: calc(-20px);
    width: 109%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-form {
    align-items: center;
}

.dsmovie-form-group{
    margin-bottom: 20px;
}

.dsmovie-form-group label{
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovie-form-btn-container{
    display: flex;
    justify-content: center;
}

.dsmovie-card-bottom-container h3 {
    font-size: medium;
    font-weight: 700;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.dsmovie-card-bottom-container button{
    background-color: var(--color-primary);
    font-weight: 700;
    margin: 0 130px;
    height: 39px;
    width: 200px;
}

.dsmovie-form-btn-container button {
    width: 200px;
}


















